<div fxLayout="column" class="form-group">
  <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchTerm">
</div>

<div *ngIf="albumsDetails" fxLayout="column">
  <div *ngFor="let album of albumsDetails | filter:searchTerm; let i = index">
    <div>
      <div fxFlex></div>

      <mat-card matRipple matTooltip="Category: {{album.category}} - Price: {{album.price}}" fxFlex="300px" *ngIf="album">

        <mat-card-title>{{i+1}} - {{album.artist}}</mat-card-title>

        <mat-card-header>
          <div>{{album.title}}</div>
        </mat-card-header>

        <mat-card-content fxLayoutAlign="center">
          <img mat-card-md-image [src]='album.image'>
        </mat-card-content>

      </mat-card>

      <div fxFlex></div>
    </div>
  </div>

</div>
<h2 *ngIf="!albumsDetails">There is nothing to display</h2>
